$main: (
        50 : #e0e8f9,
        100 : #b3c6ef,
        200 : #80a0e5,
        300 : #4d7adb,
        400 : #265ed3,
        500 : #0041cb,
        600 : #003bc6,
        700 : #0032be,
        800 : #002ab8,
        900 : #001cac,
        A100 : #d5d9ff,
        A200 : #a2acff,
        A400 : #6f7eff,
        A700 : #5667ff,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #ffffff,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #ffffff,
        )
);

$google_orange: (
        50 : #fdede0,
        100 : #fad3b3,
        200 : #f7b680,
        300 : #f4984d,
        400 : #f18226,
        500 : #ef6c00,
        600 : #ed6400,
        700 : #eb5900,
        800 : #e84f00,
        900 : #e43d00,
        A100 : #ffffff,
        A200 : #ffe0d8,
        A400 : #ffb7a5,
        A700 : #ffa38b,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$main30_blue: (
        50 : #e6e0f9,
        100 : #c0b3f0,
        200 : #9780e7,
        300 : #6d4ddd,
        400 : #4d26d5,
        500 : #2e00ce,
        600 : #2900c9,
        700 : #2300c2,
        800 : #1d00bc,
        900 : #1200b0,
        A100 : #dbdaff,
        A200 : #aba7ff,
        A400 : #7a74ff,
        A700 : #625aff,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #ffffff,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #ffffff,
        )
);

$main30_green: (
        50 : #e0f8f7,
        100 : #b3edeb,
        200 : #80e1dd,
        300 : #4dd4cf,
        400 : #26cbc5,
        500 : #00c2bb,
        600 : #00bcb5,
        700 : #00b4ac,
        800 : #00aca4,
        900 : #009f96,
        A100 : #c9fffb,
        A200 : #96fff8,
        A400 : #63fff4,
        A700 : #4afff3,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$opposing30_yellow: (
        50 : #fffae0,
        100 : #fff2b3,
        200 : #ffe980,
        300 : #ffe04d,
        400 : #ffd926,
        500 : #ffd200,
        600 : #ffcd00,
        700 : #ffc700,
        800 : #ffc100,
        900 : #ffb600,
        A100 : #ffffff,
        A200 : #fffbf2,
        A400 : #ffeabf,
        A700 : #ffe2a6,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #000000,
                800 : #000000,
                900 : #000000,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$opposing30_orange: (
        50 : #ffeee0,
        100 : #ffd4b3,
        200 : #ffb880,
        300 : #ff9c4d,
        400 : #ff8626,
        500 : #ff7100,
        600 : #ff6900,
        700 : #ff5e00,
        800 : #ff5400,
        900 : #ff4200,
        A100 : #ffffff,
        A200 : #fff5f2,
        A400 : #ffccbf,
        A700 : #ffb7a6,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #000000,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$opposing: (
        50 : #fff5e0,
        100 : #ffe5b3,
        200 : #ffd480,
        300 : #ffc34d,
        400 : #ffb626,
        500 : #ffa900,
        600 : #ffa200,
        700 : #ff9800,
        800 : #ff8f00,
        900 : #ff7e00,
        A100 : #ffffff,
        A200 : #fff8f2,
        A400 : #ffdbbf,
        A700 : #ffcda6,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #000000,
                800 : #000000,
                900 : #000000,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);
